*{
    margin:0px;
}

@media (min-width: 300px) {
    :root {
      --size-divisor: 3;
    }
  }

@media (min-width: 500px) {
    :root {
      --size-divisor: 2;
    }
  }
  @media (min-width: 750px) {
    :root {
      --size-divisor: 1.5;
    }
  }
  @media (min-width: 1000px) { 
    :root {
      --size-divisor: 1;
    }
  }

body{
    margin: 0px;
    background-color:rgb(15, 19, 27);
    color:rgb(250, 240, 228);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

button{
    background-color:rgb(248, 57, 255);
    color:white;

    border: 0px;
    border-radius: 12px;
    min-width: calc(35px / var(--size-divisor));
    margin-right: calc(30px / var(--size-divisor));

    transition: 0.3s;
}

.top_row{
    display: flex;
    justify-content: space-between;

    padding: calc(30px / var(--size-divisor));
    

    margin-left: calc(-40px / var(--size-divisor));
    margin-bottom: calc(10px / var(--size-divisor));

    max-width: 99%;
    min-width: 99%;

    z-index: 1000;
    opacity: 0.99;

    position: fixed;

    background-color: rgb(7, 8, 12);
}

.page_title{
    margin-top: calc(-10px / var(--size-divisor));
    background-color: rgb(29, 33, 41);
    border-radius: 7px;
    padding: calc(7px / var(--size-divisor));
}

.top_bar_options{
    margin-top: calc(10px / var(--size-divisor));
}

.back_button{
    margin-right: calc(50px / var(--size-divisor));
}

.upload_button{
    margin-right: 0px;
}
.new_folder_button{
    margin-right: 0px;
}

.row{
    background-color: rgb(29, 33, 41);
    padding: calc(10px / var(--size-divisor));

    min-width: 95%;
    max-width: 95%;

    margin-bottom: calc(10px / var(--size-divisor));
    border-radius: 7px;

    display: flex;
    justify-content: space-between;
}

.file_name{
    margin-left: calc(50px / var(--size-divisor));
}

button:hover{
    background-color:white;
    color:rgb(248, 57, 255);
}

.delete_button{
    background-color:rgb(248, 55, 55);
}
.delete_button:hover{
    background-color:white;
    color:rgb(248, 55, 55);
}

.download_button{
    background-color:rgb(31, 186, 233);
}
.download_button:hover{
    background-color:white;
    color:rgb(31, 186, 233);
}

.disabled_view_button{
    cursor: not-allowed;
    opacity: 0.6;
}
.disabled_view_button:hover{
    background-color: rgb(248, 57, 255);
    color:white;
}

hr{
    margin-bottom: calc(7px / var(--size-divisor));
    margin-left: -0.5%;

    max-width: 97%;
    border-radius: 12px;
}

.file_name{
    display: flex;
}

.image_type{
    margin-right: calc(20px / var(--size-divisor));
}