<html>
    <header>
        <title>Login</title>
        <link rel="stylesheet" href="/static/login.css">
    </header>
    <body>
        <h2 class="page_title">Login</h2>
        <br>
        <br>
        <form action="{{ip_url + '/login'}}" class="cred_form">
            <ul>
                <ul><input name="usr" type="text" placeholder=" 😃 Username" class="username_entry"></ul>
                <ul><input name="pswd" type="text" placeholder=" 🔒 Password" class="password_entry"></ul>
                <ul><button type="submit" value="credentials">Login</button></ul>
            </ul>
        </form>
    </body>
</html>